<ion-view title="<img id='logo' src='images/signature.png'>" hide-back-button="true">
    <ion-content padding="true" class="has-header">
        <form name="login" ng-submit="login.$valid && submitLogin(loginForm)">
            <ion-list>
                <label class="item item-input">
                    <input type="email" placeholder="Email" ng-model="loginForm.email" required>
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Mot de passe" ng-model="loginForm.password" type="password" required>
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <input type="submit" class="button button-dark button-block" value="Se connecter">
            <a ui-sref="auth.forgotpass" class="button button-positive button-clear button-block">Mot de passe oubli&eacute; ?</a>
            <a ui-sref="auth.signup" class="button button-positive button-clear button-block">Cr&eacute;er un compte</a>
        </form>
    </ion-content>
</ion-view>